@font-face {
   font-family: 'Bahagia';
   font-display: swap;
   src: url('file:///Users/florabel.lhors/Library/Application%20Support/Mobirise.com/Mobirise/projects/project-2024-04-17_174806/fonts/Bahagia/font.ttf');
}
